[IE conditional]

lte IE 8 =
    js/vendor/leaflet/leaflet.ie.css


[depends]

main = base/main

[main]

dont_bundle = js/vendor/leaflet/leaflet.js

[groups]

dataset_map =

    js/vendor/leaflet/leaflet.js
    js/common_map.js
    js/dataset_map.js

    js/vendor/leaflet/leaflet.css
    css/dataset_map.css

spatial_query =

    js/vendor/leaflet/leaflet.js
    js/vendor/leaflet.draw/leaflet.draw.js
    js/common_map.js
    js/spatial_query.js

    js/vendor/leaflet/leaflet.css
    js/vendor/leaflet/leaflet.ie.css
    js/vendor/leaflet.draw/leaflet.draw.css
    js/vendor/leaflet.draw/leaflet.draw.ie.css
    css/spatial_query.css

wms =

    js/vendor/openlayers/OpenLayers_wms_preview.js

    js/wms_preview.js

    css/wms_preview.css

geojson =
    js/vendor/leaflet/leaflet.js
    js/vendor/leaflet/leaflet.css

    js/common_map.js
    js/geojson_preview.js
    css/geojson_preview.css

shp =
    js/vendor/proj4js/proj4.js
    js/vendor/leaflet/leaflet.js
    js/vendor/spinjs/spin.js
    js/vendor/leaflet.spin/leaflet.spin.js
    js/vendor/shp2geojson/preview.js
    js/vendor/shp2geojson/preprocess.js
    js/vendor/jszip/jszip.js
    js/vendor/jszip/jszip-utils.js
    js/common_map.js
    js/shp_preview.js

    js/vendor/leaflet/leaflet.css
    css/shp_preview.css
